<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZA101G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/front/member/MemberServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showImage</servlet-name>
    <servlet-class>com.tool.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showImage</servlet-name>
    <url-pattern>/showImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.goods.controller.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/front/goods/GoodsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>com.send.controller.Send</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/back/send/send.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginMember</filter-name>
    <filter-class>com.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginMember</filter-name>
    <url-pattern>/front/member/updateMember.jsp</url-pattern>
    <url-pattern>/front/goods/update_goods_input.jsp</url-pattern>
    <url-pattern>/front/goods/addGoods.jsp</url-pattern>
    <url-pattern>/front/goods/show_goods_by_member.jsp</url-pattern>
    <url-pattern>/front/member/show_one_member.jsp</url-pattern>
    <url-pattern>/front/credit/newCredit.jsp</url-pattern>
    <url-pattern>/front/point/storePoint.jsp</url-pattern>
    <url-pattern>/front/cart/showCart.jsp</url-pattern>
   <url-pattern>/front/transaction/transactionCenter.jsp</url-pattern>
    <url-pattern>/front/send/send_detail.jsp</url-pattern>
    <url-pattern>/front/vipad/addVipad.jsp</url-pattern>
    <url-pattern>/front/vipad/showVipad.jsp</url-pattern>
    <url-pattern>/front/vipad/vipadArea.jsp</url-pattern>
    <url-pattern>/front/credit/giveCredit.jsp</url-pattern>
    <url-pattern>/front/transaction/receive.jsp</url-pattern>
    <url-pattern>/front/transaction/successTran.jsp</url-pattern>
    <url-pattern>/front/transaction/failTran.jsp</url-pattern>
    <url-pattern>/front/customerCenter/contact.jsp</url-pattern>
    
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>mail</servlet-name>
    <servlet-class>com.mail.controller.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/front/customerCenter/mail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/back/mail/mail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>com.message.controller.message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/front/message/message.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/back/message/message.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remessage</servlet-name>
    <servlet-class>com.remessage.controller.remessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remessage</servlet-name>
    <url-pattern>/front/remessage/remessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remessage</servlet-name>
    <url-pattern>/front/message/remessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remessage</servlet-name>
    <url-pattern>/back/remessage/remessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>remessage</servlet-name>
    <url-pattern>/back/message/remessage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>credit</servlet-name>
    <servlet-class>com.credit.controller.credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>credit</servlet-name>
    <url-pattern>/front/credit/credit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serial</servlet-name>
    <servlet-class>com.serial.controller.Serial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serial</servlet-name>
    <url-pattern>/back/serial/serial.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>serial</servlet-name>
    <url-pattern>/front/point/serial.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tran</servlet-name>
    <servlet-class>com.tran.controller.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tran</servlet-name>
    <url-pattern>/front/transaction/tran.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back/emp/EmpServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>authorityServlet</servlet-name>
    <servlet-class>com.authority.controller.authorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authorityServlet</servlet-name>
    <url-pattern>/back/authority/authorityServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vipadServlet</servlet-name>
    <servlet-class>com.vipad.controller.vipadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vipadServlet</servlet-name>
    <url-pattern>/front/vipad/vipadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>com.cart.controller.cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/front/cart/cartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tranRequest</servlet-name>
    <servlet-class>com.tran.controller.TranRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tranRequest</servlet-name>
    <url-pattern>/tranRequest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tranServlet</servlet-name>
    <servlet-class>com.tran.controller.tranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tranServlet</servlet-name>
    <url-pattern>/front/tran/tranServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.post.controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/back/post/post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FavoriteServlet</servlet-name>
    <servlet-class>com.favorite.controller.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteServlet</servlet-name>
    <url-pattern>/front/favorite/FavoriteServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/back/index/index.jsp</url-pattern>
    <url-pattern>/back/emp/select_page.jsp</url-pattern>
    <url-pattern>/back/goods/select_page.jsp</url-pattern>
    <url-pattern>/back/member/select_page.jsp</url-pattern>
    <url-pattern>/back/post/select_page.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AndroidGoodsServlet</servlet-name>
    <servlet-class>com.android.controller.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidGoodsServlet</servlet-name>
    <url-pattern>/android/androidGoodsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMemberServlet</servlet-name>
    <servlet-class>com.android.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMemberServlet</servlet-name>
    <url-pattern>/android/androidMemberServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidFavoriteServlet</servlet-name>
    <servlet-class>com.android.controller.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidFavoriteServlet</servlet-name>
    <url-pattern>/android/androidFavoriteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidSendServlet</servlet-name>
    <servlet-class>com.android.controller.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSendServlet</servlet-name>
    <url-pattern>/android/androidSendServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidTranServlet</servlet-name>
    <servlet-class>com.android.controller.TranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidTranServlet</servlet-name>
    <url-pattern>/android/androidTranServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidVipadServlet</servlet-name>
    <servlet-class>com.android.controller.VipadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVipadServlet</servlet-name>
    <url-pattern>/android/androidVipadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidSerialServlet</servlet-name>
    <servlet-class>com.android.controller.SerialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSerialServlet</servlet-name>
    <url-pattern>/android/androidSerialServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WishServlet</servlet-name>
    <servlet-class>com.wish.controller.WishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishServlet</servlet-name>
    <url-pattern>/front/wish/wish.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.report.controller.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/front/report/report.do</url-pattern>
  </servlet-mapping>
</web-app>