@CHARSET "BIG5";
label{
    width:130px;
    display:inline-block;
    margin: 5px;
    font:14px Tahoma,Arial,Verdana;
     margin-top: 10px; 
}
input{
    margin:3px;
     font-size:15px;
     width:200px;
}