form{
	text-align:center;
	margin-top:30px;
}
#empid{
	height:30px;
	border-radius:10px;
	border:1px solid green;
	padding-left:10px;
	font-size:20px;
}
#id{
	font:bold 20px Tahoma;
	color:#8366b7;
}
#password{
	height:30px;
	border-radius:10px;
	border:1px solid green;
	padding-left:10px;
	font-size:20px;
}
#pas{
	font:bold 20px Tahoma;
	color:#8366b7;
}
#submit{
	height:35px;
	width:100px;
	background:#8ecf4e;
	border-radius:10px;
}
#anime{
	margin:20px auto;
	text-align:center;
} 
#logo1{
	width:600px;
	height:600px;
}
